<p>
  Rencontré par hasard, bien sûr je n'm'y attendais pas<br>
  Sortie entre potes je n'sais pas c'que tu foutais la<br>
  Des points communs, un sourire complice bien sûr il m'en faut peu<br>
  Mais j'reste méfiant et attentif j’n'ai pas l'habitude d'être heureux<br>
  Quelques prétextes deux trois sorties saupoudré de quelques nuances<br>
  A quoi donc dois-je m'attendre j'ai bien trop peur de la sentence<br>
  Un peu timide et effacé j'ai bien trop peur que tu me plais<br>
  Je n'ai rien dit tu m'excuseras, j'voulais pas réouvrir mes plaies.<br>
</p>
